/*esse style é para a tela inicial "index.html"*/

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container > a {
  text-align: center;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}
.flex-container > a:hover {
  animation-name: spin;
  animation-duration: 0.5s;
  transform-origin: 100% 42%;
}
body {
  display: inline;
}

.bodyHome {
  background-color: rgb(185, 185, 185);
}

/* 
.title:hover{
  animation-name: my-animation;
  animation-duration: 2s;

} */


img {
  width: 200px;
}
.title {
  text-align: center;
  font-family: "Sigmar", cursive;
  font-size: 60px;
  position: center;
}
.title:hover::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  width: 350px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #fff;
  animation: textAnimation 5s linear infinite;
  filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 100px #fff);
  
}

@keyframes textAnimation {
  0%,
  10%,
  100% {
    width: 0%;
  }
  70%,
  90% {
    width: 653px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes my-animation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
}