/* * {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
} */
.assinatura {
text-align: center;
  position: relative;
}
.assinatura span {
  position: relative;
  /* font-size: 2em; */
  display: inline-block;
  animation: ass 2s ease-in-out infinite;
  animation-delay: calc(0.1s *var(--i));
  animation-play-state: paused;
}

.assinatura:hover span{
    animation-play-state: running;
}

@keyframes ass{
    0%, 40%, 100%{
        transform: translateY(0) ;
    }
    20%{
        transform: translateY(-5px);
    }
}